.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: block;
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}

/* Style the buttons */
.btn_nothing {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn_nothing:hover{
    background-color: #ddd;
}

.btn_active:hover {
    background-color: #ddd;
}

.btn_active {

    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;

    background-color: #666;
    color: white;
}