.jobs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jobCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    margin: 50px;
}

.jobContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jobName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}