
.backdropStyle {
    position: 'fixed';
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    background: 'rgba(0,0,0,0.2)';
    padding: 50;
    display:'none';
};

.modalStyle {
    background: '#fff';
    border-radius: 5;
    max-width: 500;
    min-height: 300;
    margin: ' 0 auto';
    padding: 30;
    position: "relative";
};

.footerStyle {
    position: "absolute";
    bottom: 20;
};

.vvv{
    mask-type: "video/mp4";
     position: "relative";
};