

.div {
    /*position: relative;
    display: block;*/
    color: black;
    font-size: xx-large;
    block-size: 100%;

}


.pp{
    /*position: relative;*/
    display: block;
    /*height: auto;*/
    background:white;
    color:black;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    /*font-family:'Assistant',sans-serif;*/
}

.body{
    /*font-family:'Baloo Chettan', cursive;*/
    font-size: medium;
    color: black;
    font-style: normal;
    background:white;
    height:550px;
    width: 100%;
    font-weight:400;
    block-size: 100%;
}

.footer{
    
    color: black;
    font-weight:400;
    font-style: normal;
    background:gray;
    position: relative;
    height: auto;
    width: 100%;
    bottom: 0px;
}

.tr{
    /* align-self: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    height: auto;
    block-size: 100%; */
    /* padding: 100.06%; */
    margin-bottom: 0%;
}
.td{
    /* block-size: 50%;
    vertical-align: middle;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;  */
    width: 9.9%;
    margin-bottom: 0%;
    /* float: center; */
    /* height: 9.9%; */
   
}
.Img{
    margin-top: 5px;
    block-size: 60%; 
    width: 100%;
    position: relative; 
}
.divImg{
    /* width: 155px; */
    /* min-height: 274px; */
    margin-right: 12px;
    /* margin-top: 10%; */
    /* margin-bottom: 0px; */
    /* background-color: white; */
    /* border: 1px solid #E0DCDC; */
    /* border-radius: 3px; */
    padding: 0 15px 0 15px;
    /* background-image: url(//ksp.co.il/images/tablesbg.jpg); */
    /* position: relative; */
    block-size: 500px;
    display: block;
}

.table{
    block-size: 100%;
    /* margin-bottom: 0%;
    height: 300px; */
}

