.home-design {

}

.div {
    /*position: relative;
    display: block;*/
    color: black;
    font-size: xx-large;
    block-size: 100%;

}


.pp{
    /*position: relative;*/
    display: block;
    /*height: auto;*/
    background:white;
    color:black;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    /*font-family:'Assistant',sans-serif;*/
}

.body{
    /*font-family:'Baloo Chettan', cursive;*/
    font-size: medium;
    color: black;
    font-style: normal;
    background:white;
    height:550px;
    width: 100%;
    font-weight:400;
    block-size: 100%;
}

.footer{
    
    color: black;
    font-weight:400;
    font-style: normal;
    background:gray;
    position: relative;
    height: auto;
    width: 100%;
    bottom: 0px;
}

.tr{
    /* align-self: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    height: auto;
    block-size: 100%; */
    /* padding: 100.06%; */
    margin-bottom: 0%;
}
.td{
    /* block-size: 50%;
    vertical-align: middle;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;  */
    width: 9.9%;
    margin-bottom: 0%;
    /* float: center; */
    /* height: 9.9%; */
   
}
.Img{
    margin-top: 5px;
    block-size: 60%; 
    width: 100%;
    position: relative; 
}
.divImg{
    /* width: 155px; */
    /* min-height: 274px; */
    margin-right: 12px;
    /* margin-top: 10%; */
    /* margin-bottom: 0px; */
    /* background-color: white; */
    /* border: 1px solid #E0DCDC; */
    /* border-radius: 3px; */
    padding: 0 15px 0 15px;
    /* background-image: url(//ksp.co.il/images/tablesbg.jpg); */
    /* position: relative; */
    block-size: 500px;
    display: block;
}

.table{
    block-size: 100%;
    /* margin-bottom: 0%;
    height: 300px; */
}


.background-img {
    opacity: 0.9;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

}

.front {
    position: absolute;
    top: 80px;
    left: 200px;
}

.web-title {
    color: #fff;

    /*color: black;*/
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    line-height: 55px;
    font-family: 'Lato' , SansSerif;

    margin-top: 20px;

    /*position: absolute;*/
    /*top: 80px;*/
    /*left: 200px;*/

}

.description {
    font-size: 30px;
    color: white;
    /*font-weight: bolder;*/



}

#counter {
    background-attachment: fixed;
    background-image: url("https://i.imgur.com/cZtUiuN.jpg");
    background-repeat: repeat;
    background-size: cover;
    color: #ffffff;
    display: inline;
    float: left;
    width: 100%;
}


.counter-overlay {
    background: rgba(15, 22, 30, 0.5) none repeat scroll 0 0;
    color: #ffffff;
    display: inline;
    float: left;
    padding: 90px 0;
    width: 100%;
}


.counter-area{
    display: inline;
    float: left;
    width: 100%;
}

.single-counter{
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}

.single-counter .counter-icon{
    display: inline;
    float: left;
    width: 100%;
    color: #fff;
    font-size: 30px;
}

.single-counter .counter-no {
    color: #fff;
    display: inline;
    float: left;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-counter .counter-label {
    color: #fff;
    display: inline;
    float: left;
    font-size: 20px;
    width: 100%;
}

.single-counter .counter-label::after {
    content: "";
    height: 2px;
    margin: 8px auto;
    width: 35px;
    display: block;
}


