.instructions-page {
    /*background-image: url("https://i.imgur.com/CDS3Nyh.jpg");*/
    color: black;

}



.instructions-page h1 {
    font-family: 'Baloo Bhai', cursive;
}

.instructions-page p {
    font-size: 20px;
}

.help-section p {
    font-size: 20px;
}