* {
    box-sizing: border-box;
}

.PCcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.PCtitle {
    color: grey;
    font-size: 18px;
}

.PCbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 20px;
    color: white;
    background-color: #474e5d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.PCa {
    text-decoration: none;
    font-size: 22px;
    color: #474e5d;
}

.PCbutton:hover, .PCa:hover {
    opacity: 0.7;
}
.PCh2{
    text-align:center;
    /*color:#474e5d;*/
}

.PCImg{
    width:100%;
    max-height: 215px;
}

.PCMain{
    margin: 0 auto;
    float: left;
    margin-left: 5%;
    position: relative;
    top: 0%;
}

/*POP UPDATE*/
.PCmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*float:end;*/
    z-index: 1; /* Sit on top */
    /*padding-top: 100px; !* Location of the box *!*/
    /*left: 0;*/
    /*top: 0;*/
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.PCmodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.PCclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.PCclose:hover,
.PCclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}